# Ignore the .env file in the backend folder
/Backend/.env

# Ignore the uploads folder in the backend
/Backend/uploads/

# Ignore the .env file in the backend folder
/backend/.env

# Ignore the uploads folder in the backend
/backend/uploads/

/backend/postflop-solver/GTOWizard_Scraped_Ranges

/backend/postflop-solver/target

/backend/postflop-solver/python_lib/target